In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/items.csv")

In [5]:
df.head()

  Food Item    Storage  Expiry (days)
0      Milk  Room Temp              2
1      Milk     Fridge              7
2      Milk    Freezer             90
3      Eggs  Room Temp              0
4      Eggs     Fridge             35

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Food Item      174 non-null    object
 1   Storage        174 non-null    object
 2   Expiry (days)  174 non-null    int64
dtypes: int64(1), object(2)
memory usage: 4.2+ KB

In [7]:
df.describe()

       Expiry (days)
count     174.000000
mean      105.609195
std       135.732426
min         0.000000
25%         5.000000
50%        14.000000
75%       180.000000
max       365.000000

In [8]:
df.isnull().sum()

Food Item        0
Storage          0
Expiry (days)    0
dtype: int64